{
  "Boss_Slime": 11000,
  "Boss_SpiderLeg": 11001,
  "FireEnemy_Red": 11002,
  "FireEnemy_White": 11003,
  "FireEnemy_Yellow": 11004,
  "IceEnemy_Blue": 11005,
  "IceEnemy_Cyan": 11006,
  "IceEnemy_Purple": 11007,
  "LargeLightningEnemy": 11008,
  "LifeEnemy": 11009,
  "LightningEnemy": 11010,
  "Player": 11011,
  "Slime": 11012,
  "WoodenEnemy_Brown": 11013,
  "WoodenEnemy_Green": 11014,
  "WoodenEnemy_Purple": 11015
}