{
  "Boss_Slime": 11000,
  "Boss_SpiderLeg": 11001,
  "CyanWoodenEnemy": 11002,
  "FireEnemy_Red": 11003,
  "FireEnemy_White": 11004,
  "FireEnemy_Yellow": 11005,
  "IceEnemy_Blue": 11006,
  "IceEnemy_Cyan": 11007,
  "IceEnemy_Purple": 11008,
  "LargeLightningEnemy": 11009,
  "LifeEnemy": 11010,
  "LightningEnemy": 11011,
  "Player": 11012,
  "Slime": 11013,
  "WoodenEnemy": 11014
}