{
  "Boss_Slime": 11000,
  "Boss_SpiderLeg": 11001,
  "FireEnemy_Red": 11002,
  "FireEnemy_White": 11003,
  "FireEnemy_Yellow": 11004,
  "IceEnemy_Blue": 11005,
  "IceEnemy_Cyan": 11006,
  "IceEnemy_Purple": 11007,
  "LifeEnemy": 11008,
  "LightningEnemy": 11009,
  "Player": 11010,
  "Slime": 11011,
  "WoodenEnemy": 11012
}