{
  "ActionBox": 1,
  "ActionTowerBox": 2,
  "BlizzardBox": 3,
  "BorderBox": 4,
  "BrickBox": 5,
  "CharcoalBox": 6,
  "CombinedGroundBox": 7,
  "CrazyLongLogBox": 8,
  "CrazyMediumLogBox": 9,
  "DoorBox": 10,
  "DragonRibBox": 11,
  "DragonSkullBox": 12,
  "EnemyFrozenBox": 13,
  "FireBox": 14,
  "FlagBox": 15,
  "FlamethrowerBox": 16,
  "FloatingFloorBox": 17,
  "ForbidLiftBox": 18,
  "GoldenBox": 19,
  "GroundBox": 20,
  "HiddenBorderBox": 21,
  "HiddenBuffBox": 22,
  "HiddenTransportBox": 23,
  "Hill111FireBox": 24,
  "Hill111IceBox": 25,
  "Hill111RockBox": 26,
  "Hill222FireBox": 27,
  "Hill222IceBox": 28,
  "Hill222RockBox": 29,
  "Hill333FireBox": 30,
  "Hill333IceBox": 31,
  "Hill333RockBox": 32,
  "Hill444FireBox": 33,
  "Hill444IceBox": 34,
  "Hill444RockBox": 35,
  "Hill555FireBox": 36,
  "Hill555IceBox": 37,
  "Hill555RockBox": 38,
  "IceBox": 39,
  "KeyBox": 40,
  "LifeBox": 41,
  "LifeTowerBox": 42,
  "LightningBox": 43,
  "LongLogBox": 44,
  "MediumLogBox": 45,
  "MediumWoodenBoardBox": 46,
  "MetalTrapBox": 47,
  "StackingGoldenBox": 48,
  "TNTBox": 49,
  "TrainingBox": 50,
  "TransportBox": 51,
  "TrophyBox": 52,
  "UnderGroundWallBox": 53,
  "WeirdWoodenBox": 54,
  "WoodenBox": 55,
  "WoodenTrapBox": 56
}