{
  "ActionBox": 1,
  "ActionTowerBox": 2,
  "BlizzardBox": 3,
  "Bones11Box": 4,
  "Bones22Box": 5,
  "BorderBox": 6,
  "BrickBox": 7,
  "CharcoalBox": 8,
  "CombinedGroundBox": 9,
  "CrazyLongLogBox": 10,
  "CrazyMediumLogBox": 11,
  "DoorBox": 12,
  "DragonRibBox": 13,
  "DragonSkullBox": 14,
  "EnemyFrozenBox": 15,
  "FireBox": 16,
  "FlagBox": 17,
  "FlamethrowerBox": 18,
  "FloatingFloorBox": 19,
  "ForbidLiftBox": 20,
  "GoldenBox": 21,
  "GroundBox": 22,
  "HiddenBorderBox": 23,
  "HiddenBuffBox": 24,
  "HiddenTransportBox": 25,
  "Hill111FireBox": 26,
  "Hill111IceBox": 27,
  "Hill111RockBox": 28,
  "Hill222FireBox": 29,
  "Hill222IceBox": 30,
  "Hill222RockBox": 31,
  "Hill333FireBox": 32,
  "Hill333IceBox": 33,
  "Hill333RockBox": 34,
  "Hill444FireBox": 35,
  "Hill444IceBox": 36,
  "Hill444RockBox": 37,
  "Hill555FireBox": 38,
  "Hill555IceBox": 39,
  "Hill555RockBox": 40,
  "IceBox": 41,
  "KeyBox": 42,
  "LargeFireBox": 43,
  "LifeBox": 44,
  "LifeTowerBox": 45,
  "LightningBox": 46,
  "LongLogBox": 47,
  "MediumLogBox": 48,
  "MediumWoodenBoardBox": 49,
  "MetalTrapBox": 50,
  "StackingGoldenBox": 51,
  "StoneColumn112Box": 52,
  "StoneWall111Box": 53,
  "TNTBox": 54,
  "TrainingBox": 55,
  "TransportBox": 56,
  "TrophyBox": 57,
  "UnderGroundWallBox": 58,
  "WeirdWoodenBox": 59,
  "WoodenBox": 60,
  "WoodenTrapBox": 61
}