{
  "ActionBox": 1,
  "ActionTowerBox": 2,
  "BlizzardBox": 3,
  "BlueKeyBox": 4,
  "BlueLockBox": 5,
  "Bones11Box": 6,
  "Bones22Box": 7,
  "BorderBox": 8,
  "BrickBox": 9,
  "CharcoalBox": 10,
  "CombinedGroundBox": 11,
  "CrazyLongLogBox": 12,
  "CrazyMediumLogBox": 13,
  "DoorBox": 14,
  "DragonRibBox": 15,
  "DragonSkullBox": 16,
  "DragonTombBox": 17,
  "EnemyFrozenBox": 18,
  "FireBox": 19,
  "FlagBox": 20,
  "FlamethrowerBox": 21,
  "FloatingFloor111Box": 22,
  "FloatingFloor222Box": 23,
  "ForbidLiftBox": 24,
  "GoldenBox": 25,
  "GreenKeyBox": 26,
  "GreenLockBox": 27,
  "GroundBox": 28,
  "HiddenBorderBox": 29,
  "HiddenTransportBox": 30,
  "Hill111FireBox": 31,
  "Hill111GrassBox": 32,
  "Hill111IceBox": 33,
  "Hill111RockBox": 34,
  "Hill222FireBox": 35,
  "Hill222GrassBox": 36,
  "Hill222IceBox": 37,
  "Hill222RockBox": 38,
  "Hill333FireBox": 39,
  "Hill333GrassBox": 40,
  "Hill333IceBox": 41,
  "Hill333RockBox": 42,
  "Hill444FireBox": 43,
  "Hill444GrassBox": 44,
  "Hill444IceBox": 45,
  "Hill444RockBox": 46,
  "Hill555FireBox": 47,
  "Hill555GrassBox": 48,
  "Hill555IceBox": 49,
  "Hill555RockBox": 50,
  "IceBox": 51,
  "LargeFireBox": 52,
  "LifeBox": 53,
  "LifeTowerBox": 54,
  "LightningBox": 55,
  "LongLogBox": 56,
  "LowStoneBrokenGuardrailBox": 57,
  "LowStoneCentralGuardrailBox": 58,
  "LowStoneGuardrailBox": 59,
  "LowStoneGuardrailCornerBox": 60,
  "MediumLogBox": 61,
  "MediumWoodenBoardBox": 62,
  "MetalTrapBox": 63,
  "PurpleKeyBox": 64,
  "PurpleLockBox": 65,
  "RedKeyBox": 66,
  "RedLockBox": 67,
  "ScrollBox": 68,
  "StackingGoldenBox": 69,
  "StoneColumn112Box": 70,
  "StoneWall111Box": 71,
  "TNTBox": 72,
  "TrainingBox": 73,
  "TransportBox": 74,
  "TriggerBox": 75,
  "TrophyBox": 76,
  "TutorialKeyBox": 77,
  "UnderGroundWallBox": 78,
  "WeirdWoodenBox": 79,
  "WoodenBox": 80,
  "WoodenTrapBox": 81,
  "YellowKeyBox": 82,
  "YellowLockBox": 83
}