{
  "LoopFX_Burning": 31000,
  "LoopFX_Lightning": 31001,
  "Flash_ArrowsFly": 31002,
  "Flash_BloodBlade": 31003,
  "Flash_BlueArrowSmoke": 31004,
  "Flash_BubbleBlade": 31005,
  "Flash_Butter": 31006,
  "Flash_CyanSlight": 31007,
  "Flash_EvilBigGravBall": 31008,
  "Flash_FastGreenBoom": 31009,
  "Flash_Fire": 31010,
  "Flash_GreenPoisonous": 31011,
  "Flash_InterlacedRays": 31012,
  "Flash_Leaves": 31013,
  "Flash_Mushroom": 31014,
  "Flash_PurpleGravBoom": 31015,
  "Flash_PurpleSmoke": 31016,
  "Flash_SnowFlake": 31017,
  "Flash_SpiralDrill": 31018,
  "Flash_TwinkleLittleWhite": 31019,
  "Flash_WaterBall": 31020,
  "Flash_WhiteFlash": 31021,
  "Flash_WhiteLightening": 31022,
  "Flash_YellowLightening": 31023,
  "Hit_ArrowsFly": 31024,
  "Hit_BloodBlade": 31025,
  "Hit_BlueArrowSmoke": 31026,
  "Hit_BubbleBlade": 31027,
  "Hit_Butter": 31028,
  "Hit_CyanSlight": 31029,
  "Hit_EvilBigGravBall": 31030,
  "Hit_FastGreenBoom": 31031,
  "Hit_Fire": 31032,
  "Hit_FlyCutter": 31033,
  "Hit_GreenPoisonous": 31034,
  "Hit_IceEvilBigGravBall": 31035,
  "Hit_InterlacedRays": 31036,
  "Hit_Leaves": 31037,
  "Hit_LoveHeart": 31038,
  "Hit_Mushroom": 31039,
  "Hit_PurpleGravBoom": 31040,
  "Hit_PurpleSmoke": 31041,
  "Hit_SnowFlake": 31042,
  "Hit_SpiralDrill": 31043,
  "Hit_TwinkleLittleWhite": 31044,
  "Hit_WaterBall": 31045,
  "Hit_WhiteFlash": 31046,
  "Hit_WhiteLightening": 31047,
  "Hit_YellowLightening": 31048,
  "Hit_YellowLighteningHotBall": 31049,
  "Flash_BlackDarkGreenExplode": 31050,
  "Flash_BloodyLightExplode": 31051,
  "Flash_BlueStarSmoke": 31052,
  "Flash_DarkBlueStar": 31053,
  "Flash_FireExplodeSmoke": 31054,
  "Flash_GreenPoisonBubbleExplode": 31055,
  "Flash_LightBlueLightningShock": 31056,
  "Flash_LightBlueQuickExplode": 31057,
  "Flash_LittleFireUp": 31058,
  "Flash_PinkSwirl": 31059,
  "Flash_RainbowFlowerExplode": 31060,
  "Flash_RainbowWaveFlower": 31061,
  "Flash_WaterBubbleExplode": 31062,
  "Flash_WhiteArrowLightning": 31063,
  "Flash_YellowFireStar": 31064,
  "Hit_BlackDarkGreenExplode": 31065,
  "Hit_BloodyLightExplode": 31066,
  "Hit_BlueStarSmoke": 31067,
  "Hit_DarkBlueStar": 31068,
  "Hit_FireExplodeSmoke": 31069,
  "Hit_Freeze": 31070,
  "Hit_GreenPoisonBubbleExplode": 31071,
  "Hit_LightBlueLightningShock": 31072,
  "Hit_LightBlueQuickExplode": 31073,
  "Hit_LittleFireUp": 31074,
  "Hit_PinkSwirl": 31075,
  "Hit_RainbowFlowerExplode": 31076,
  "Hit_RainbowWaveFlower": 31077,
  "Hit_WaterBubbleExplode": 31078,
  "Hit_WhiteArrowLightning": 31079,
  "Hit_YellowFireStar": 31080
}