{
  "OpenWorld": 30000,
  "BossSlimePrepareWorld": 30001,
  "BossSlimeWorld": 30002,
  "BossSlimeWorldNew": 30003,
  "IceFire_1_World": 30004,
  "Mix_1_World": 30005,
  "Mix_2_World": 30006,
  "Mix_3_World": 30007,
  "Slime_1_World": 30008,
  "MatchThreeTestWorld": 30009,
  "RepelTestWorld": 30010,
  "TestWorld": 30011,
  "Tutorial_0_World": 30012,
  "Tutorial_1_World": 30013
}