{
  "BonesFloorGround": 14000,
  "BonesGround": 14001,
  "Common_DarkWall_Bottom": 14002,
  "Common_DarkWall_BottomLeft": 14003,
  "Common_DarkWall_BottomRight": 14004,
  "Common_DarkWall_Hidden": 14005,
  "Common_DarkWall_Left": 14006,
  "Common_DarkWall_Right": 14007,
  "Common_DarkWall_Top": 14008,
  "Common_DarkWall_TopLeft": 14009,
  "Common_DarkWall_TopRight": 14010,
  "Common_DeadZone": 14011,
  "Common_Empty": 14012,
  "Common_Ground": 14013,
  "Common_Wall_Bottom": 14014,
  "Common_Wall_BottomLeft": 14015,
  "Common_Wall_BottomRight": 14016,
  "Common_Wall_Hidden": 14017,
  "Common_Wall_Left": 14018,
  "Common_Wall_Right": 14019,
  "Common_Wall_Top": 14020,
  "Common_Wall_TopLeft": 14021,
  "Common_Wall_TopRight": 14022,
  "FloatingFloorGround": 14023,
  "IceFire_1": 14024,
  "IceFire_2": 14025,
  "IceLightning_WoodenBox_1": 14026,
  "IceLightning_WoodenBox_2": 14027,
  "Mix_1": 14028,
  "Mix_2": 14029,
  "Mix_3": 14030,
  "PutOutFire_Hard": 14031,
  "PutOutFire_Simple": 14032,
  "Slime_1": 14033,
  "Boss_Slime": 14034,
  "Boss_Slime_New": 14035,
  "DragonTempleSection_10": 14036,
  "DragonTempleSection_11": 14037,
  "DragonTempleSection_12": 14038,
  "DragonTempleSection_2_2": 14039,
  "DragonTempleSection_2_3": 14040,
  "DragonTempleSection_2_4": 14041,
  "DragonTempleSection_2_5": 14042,
  "DragonTempleSection_2_6": 14043,
  "DragonTempleSection_2_7": 14044,
  "DragonTempleSection_2_8": 14045,
  "DragonTempleSection_2_center": 14046,
  "DragonTempleSection_5": 14047,
  "DragonTempleSection_6": 14048,
  "DragonTempleSection_7": 14049,
  "DragonTempleSection_8": 14050,
  "DragonTempleSection_9": 14051,
  "DragonTempleSection_Last": 14052,
  "DragonTempleSection_Start": 14053,
  "MatchThreeTest": 14054,
  "Test_1": 14055,
  "Test_2": 14056,
  "Test_3": 14057,
  "Test_4": 14058,
  "Tutorial_0_1": 14059,
  "Tutorial_0_2": 14060,
  "Tutorial_0_2_1": 14061,
  "Tutorial_0_2_2": 14062,
  "Tutorial_0_2_3": 14063,
  "Tutorial_0_3": 14064,
  "Tutorial_0_4": 14065,
  "Tutorial_0_5": 14066,
  "Tutorial_0_6": 14067,
  "Tutorial_0_7": 14068,
  "Tutorial_0_8": 14069,
  "Tutorial_1_1": 14070,
  "Tutorial_2_0": 14071,
  "Tutorial_2_1": 14072,
  "Tutorial_2_2": 14073,
  "Tutorial_6_1": 14074,
  "Tutorial_6_2": 14075,
  "Tutorial_6_3": 14076,
  "Tutorial_6_4": 14077
}