{
  "BonesFloorGround": 14000,
  "BonesGround": 14001,
  "Boss_Slime": 14002,
  "Boss_Slime_New": 14003,
  "DragonTempleSection_10": 14004,
  "DragonTempleSection_11": 14005,
  "DragonTempleSection_12": 14006,
  "DragonTempleSection_5": 14007,
  "DragonTempleSection_6": 14008,
  "DragonTempleSection_7": 14009,
  "DragonTempleSection_8": 14010,
  "DragonTempleSection_9": 14011,
  "DragonTempleSection_Last": 14012,
  "DragonTempleSection_Start": 14013,
  "FlaotingFloorGround": 14014,
  "IceFire_1": 14015,
  "Mix_1": 14016,
  "Mix_2": 14017,
  "Mix_3": 14018,
  "Slime_1": 14019,
  "Common_DeadZone": 14020,
  "Common_Empty": 14021,
  "Common_Ground": 14022,
  "Common_Wall_Bottom": 14023,
  "Common_Wall_BottomLeft": 14024,
  "Common_Wall_BottomRight": 14025,
  "Common_Wall_Hidden": 14026,
  "Common_Wall_Left": 14027,
  "Common_Wall_Right": 14028,
  "Common_Wall_Top": 14029,
  "Common_Wall_TopLeft": 14030,
  "Common_Wall_TopRight": 14031,
  "MatchThreeTest": 14032,
  "RepelTest": 14033,
  "Test_1": 14034,
  "Test_2": 14035,
  "Test_3": 14036,
  "Test_4": 14037,
  "Tutorial_0_1": 14038,
  "Tutorial_0_2": 14039,
  "Tutorial_0_2_1": 14040,
  "Tutorial_0_2_2": 14041,
  "Tutorial_0_2_3": 14042,
  "Tutorial_0_3": 14043,
  "Tutorial_0_4": 14044,
  "Tutorial_0_5": 14045,
  "Tutorial_0_6": 14046,
  "Tutorial_0_7": 14047,
  "Tutorial_0_8": 14048,
  "Tutorial_1_1": 14049
}