{
  "OpenWorld": 30000,
  "BossSlimeWorld": 30001,
  "BossSlimeWorldNew": 30002,
  "DragonTempleWorld": 30003,
  "DragonTempleWorld_2": 30004,
  "IceFire_1_World": 30005,
  "IceFire_2_World": 30006,
  "IceLightning_WoodenBox_World": 30007,
  "Mix_1_World": 30008,
  "Mix_2_World": 30009,
  "Mix_3_World": 30010,
  "PutOutFire_Hard_World": 30011,
  "PutOutFire_Simple_World": 30012,
  "Slime_1_World": 30013,
  "MatchThreeTestWorld": 30014,
  "TestWorld": 30015,
  "Tutorial_0_World": 30016,
  "Tutorial_1_World": 30017,
  "Tutorial_2_World": 30018,
  "Tutorial_6_World": 30019
}